/*burgermenu*/
@media (max-width: 600px) {
  .hidden {
    opacity: 0;
    transform: translate(400%);
  }

  #menu {
    display: inline-block;
    transition: transform 0.3s;
    transform-origin: top right;
  }

  #menuknap {
    font-size: 3rem;
    margin-left: 300px;
  }
}

@media (min-width: 600px) {
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menuknap {
    display: none;
  }

  .hiddenHeader {
    height: auto;
  }
}

#kampagne {
  height: 470vh;
  background-image: url(grob_text.png);
  background-color: black;
  background-size: contain;
  background-size: 50%;
  background-position: 0% 100%;
}
#indhold {
  background-color: rgba(42, 35, 255, 0.39);
  backdrop-filter: blur(10px);
  backdrop-filter: brightness(-16px);
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 100px;
  border-radius: 10px;
}
#indhold img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#kampagne .splash_billede {
  margin-top: -50px;
  transform: rotate(180deg);
}

#kampagne h1 {
  text-align: center;
  color: #24f21d;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}
h2,
h3,
h4,
h5 {
  color: #f2e41d;
  padding: 10px;
}
@media (min-width: 600px) {
  #kampagne h1 {
    font-size: 6rem;
    margin: 40px;
  }
}
@media (min-width: 900px) {
  .video_kampagne {
    display: flex;
    max-width: 50%;
    gap: 30px;
    padding-bottom: 100px;
  }

  .instagram {
    display: flex;
    max-width: 30%;
    gap: 50px;
  }
  .feedback {
    padding-top: 20px;
  }
  .facebook {
    display: flex;
    max-width: 50%;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  #indhold {
    background-color: rgba(42, 35, 255, 0.39);
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(-16px);
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 100px;
    border-radius: 20px;
    padding: 50px;
  }

  #kampagne {
    height: 350vh;
  }
  .facebook {
    padding-top: 20px;
  }

  .feedback {
    padding-top: 20px;
  }
}
