/*burgermenu*/
@media (max-width: 600px) {
  .hidden {
    opacity: 0;
    transform: translate(-100%);
  }

  #menu {
    display: inline-block;
    transition: transform 0.3s;
    transform-origin: top right;
  }
}

@media (min-width: 600px) {
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menuknap {
    display: none;
  }
}
#kampagne {
  width: 100%;
  height: 1500vh;
  background-image: url(grob_text.png);
  background-color: black;
  background-size: contain;
  background-size: 50%;
  background-position: 0% 100%;
}

#kampagne .splash_billede {
  margin-top: -50px;
  transform: rotate(180deg);
}

#kampagne h1 {
  text-align: center;
  color: #24f21d;
  font-size: 6rem;
  margin: 40px;
}
h2,
h3,
h4,
h5 {
  color: #f2e41d;
}
