/*burgermenu*/
@media (max-width: 600px) {
  .hidden {
    opacity: 0;
    transform: translate(-100%);
  }

  #menu {
    display: inline-block;
    transition: transform 0.3s;
    transform-origin: top right;
  }

  #menuknap {
    font-size: 3rem;
    margin-left: 300px;
  }

  .hiddenHeader {
    height: 60px;
  }
}

@media (min-width: 600px) {
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menuknap {
    display: none;
  }

  .hiddenHeader {
    height: auto;
  }
}

img {
  max-width: 100%;
}
video {
  max-width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  top: 0;
  position: sticky;
  background-color: #f2e41d;
  z-index: 2;
  justify-content: space-between;
}

nav {
  margin-right: 540px;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 200px;
  margin-top: 20px;
}

a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-decoration: none;
  color: #2a23ff;
  font-size: 1.7rem;
}

a:hover {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#kampagne {
  height: 340vh;
  background-image: url(grob_text.png);
  background-color: black;
  background-size: contain;
  background-size: 50%;
  background-position: 0% 80%;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.splash {
  width: 100%;
  margin-top: -150px;
  position: relative;
}

#video video {
  width: 100%;
}

.titel {
  margin-bottom: 100px;
  margin-top: -300px;
}
#indhold {
  background-color: rgba(42, 35, 255, 0.39);
  backdrop-filter: blur(10px);
  backdrop-filter: brightness(-16px);
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 100px;
  border-radius: 20px;
  padding: 50px;
}

.form {
  margin-left: 390px;
  margin-top: 50px;
  display: grid;
  gap: 20px;
}

label {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.submit {
  margin-left: 70px;
  background-color: #f2e41d;
  border: none;
  color: rgb(42, 35, 255);
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 900px) {
  #kampagne {
    height: 430vh;
    background-image: url(grob_text.png);
    background-color: black;
    background-size: contain;
    background-size: 50%;
    background-position: 0% 73%;
  }
  .splash {
    width: 100%;
    margin-top: -400px;
    position: relative;
  }
  #indhold {
    background-color: rgba(42, 35, 255, 0.39);
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(-16px);
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 100px;
    border-radius: 10px;
  }

  .koncept {
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .koncept h3 {
    padding-bottom: 20px;
  }

  .formal {
    text-align: center;
    padding-left: 120px;
    padding-bottom: 40px;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    gap: 70px;
  }
  .billede1 {
    grid-column: 1/2;
    grid-row: 1/2;
    filter: drop-shadow(0px 5px 40px #000);
  }
  .tekst1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .billede2 {
    grid-column: 1/2;
    grid-row: 2/3;
    filter: drop-shadow(0px 5px 40px #000);
  }
  .tekst2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .billede3 {
    grid-column: 1/2;
    grid-row: 3/4;
    filter: drop-shadow(0px 5px 40px #000);
  }
  .tekst3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (max-width: 900px) {
  .formal {
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .koncept h3 {
    padding-bottom: 10px;
  }
  .billede1 {
    padding-top: 20px;
  }
  .tekst1 {
    padding-top: 10px;
  }

  .billede2 {
    padding-top: 50px;
  }
  .tekst2 {
    padding-top: 10px;
  }
  .billede3 {
    padding-top: 50px;
  }
  .tekst3 {
    padding-top: 10px;
  }
}

@media (max-width: 900px) {
  footer {
    color: #f2e41d;
    background: rgb(42, 35, 255);
    background: linear-gradient(
      180deg,
      rgba(42, 35, 255, 1) 50%,
      rgba(242, 228, 29, 1) 50%
    );
  }

  #kontakt {
    display: flex;
    place-content: center;
  }

  #kontakt1 {
    padding-top: 40px;
    padding-left: 89px;
    padding-bottom: 20px;
  }

  #kontakt2 {
    padding-bottom: 100px;
  }

  .social {
    text-align: center;
    padding-bottom: 30px;
  }

  .face {
    width: 16%;
    margin-left: 15px;
  }

  .insta {
    width: 32%;
    margin-left: 25px;
  }

  .logoer {
    gap: 40px;

    display: flex;
    place-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    padding: 40px;
  }

  .logo1 {
    width: 90px;
  }

  .logo2 {
    width: 130px;
    padding-top: 10px;
  }
}
@media (min-width: 900px) {
  footer {
    background: rgb(42, 35, 255);
    background: linear-gradient(
      90deg,
      rgba(42, 35, 255, 1) 58%,
      rgba(242, 228, 29, 1) 58%
    );
    padding: 80px;
    color: #f2e41d;
    display: flex;
  }

  #kontakt1 {
    font-size: 1.5rem;
    padding-top: 10px;
  }

  #kontakt2 {
    margin-left: 30px;
    padding-top: 10px;
  }

  .social {
    margin-left: 200px;
  }
  .face {
    width: 15%;
  }

  .insta {
    width: 30%;
    margin-left: 50px;
  }
  .logoer {
    margin-left: 350px;
  }
  .logo1 {
    margin-right: 50px;
    width: 120px;
  }
  .logo2 {
    width: 250px;
  }
}

h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  color: #f2e41d;
}

p {
  color: white;
}
